.main-page-container {
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.top-section {
  display: flex;
  gap: 20px;
}

.left-carousel {
  flex: 2; /* 좌측 최신 게시물 */
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.right-image {
  flex: 1; /* 우측 이미지 */
  text-align: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.right-image img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.bottom-section {
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
